__pycache__/mobs.cpython-312.pyc
__pycache__/inventory.cpython-314.pyc
__pycache__/mob_placement.cpython-314.pyc
__pycache__/mobs.cpython-314.pyc
__pycache__/player.cpython-314.pyc
__pycache__/structures.cpython-312.pyc
